.nav {
 position: fixed;
  top: 0;
}
.lnk {
 text-decoration: none;
 height: 30px;
 line-height: 30px;
 color: #0c0e0c;
 transition: .5s ease-in-out;
 display: block;
 padding: 0 20px;
 background: #f7faf7;
 &:hover {
  text-decoration: none;
  color: #600c0c;
 }
}
.add-expense-container {
 width: 20%;
 height: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
