.nav {
 position: fixed;
  top: 0;
}
.lnk {
 text-decoration: none;
 height: 30px;
 line-height: 30px;
 font-weight: 200;
 color: #646564;
 transition: .5s ease-in-out;
 display: block;
 padding: 0 20px;
 background: #f7faf7;
 &:hover {
  text-decoration: none;
  color: #600c0c;
 }
}
.add-expense-container {
 border: 1px solid #f8f4f4;
 box-shadow: 0 0 3px #c9c7c7;
 background: white;
 position: absolute;
 z-index: 1;
 left: 65%;
 top: 10vh;
 border-radius: 10px;
 width: 300px;
 height: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  input , .select, option {
   display: block;
   width: 150px;
   height: 30px;
   margin: 5px;
   padding: 5px 10px;
   line-height: 30px;
   font-size: 18px;
   border: 1px solid #ddd;
   border-radius: 3px;
  }
  .close {
   width: 10px;
   height: 10px;
   position: absolute;
   top: 10px;
   left: 10px;
  }
  .btn-exp {
   width: 150px;
   display: block;
   border: none;
   border-radius: 0 ;
   background: darkgreen ;
   transition: .3s ease-in-out;
   margin-bottom: 10px;
   &:hover {
    border: none;
    background: #3d793d;
   }
  }
}
